/* Default styles for the webpage */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Root Variables */
:root {
	--pry-font: 'Montserrat', sans-serif;
	--sec-font: 'Clash Display', sans-serif;
	--tertiary-font: 'Unica One', cursive;
}

/* WEB HTML */
html {
	font-size: 62.5%;
	scroll-behavior: smooth;

	/* DEFAULT MODE COLORS */
	--pry-bg-color: rgb(21, 14, 40);
	--pry-text-color: rgb(212, 52, 254);
	--sec-text-color: rgb(255, 38, 185);
	--btn-color: rgb(144, 58, 255);
	--white: rgb(255, 255, 255);
	--white-fade: rgba(255, 255, 255, 0.25);
	--box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	--border-stroke-one: 1px solid rgb(255, 255, 255);
	--border-stroke-two: linear-gradient(rgb(154, 57, 255), rgb(255, 41, 185));
	--section-border-line: .1rem solid rgb(72, 72, 72);
}

/* LIGHT MODE COLORS */
html[data-theme='dark'] {
	--pry-bg-color: rgba(234, 241, 215);
	-pry-text-color: rgb(43, 203, 1);
	--sec-text-color: rgb(0, 217, 70);
	--btn-color: rgb(111, 197, 0);
	--dark: rgb(0, 0, 0);
	--dark-fade: rgba(0, 0, 0, 0.25);
	--box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
	--border-stroke-one: 1px solid rgb(0, 0, 0);
	--border-stroke-two: linear-gradient(rgb(101, 198, 0), rgb(0, 214, 70));
	--section-border-line: 1px solid rgba(255, 0, 255, 255.18);
}

body {
	width: 100vw;
	min-height: 100vh;
	font-family: var(--pry-font);
	font-weight: 400;
	line-height: 1.6;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.display {
	display: hidden;
}

/* NAVBAR */
nav {
	background: url('./images/backgrounds/no-star-bg.png') no-repeat;
	background-size: cover;
	border-bottom: var(--section-border-line);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 10rem;
	display: flex;
	z-index: 2;
}

.nav-center {
	width: 1440px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
}

#logo {
	width: 15rem;
	height: 5rem;
}

#logo svg {
	width: 100%;
	height: 100%;
}

.nav-center-menu {
	display: flex;
	align-items: center;
}

.nav-center-menu ul {
	display: flex;
	align-items: center;
	margin-right: 5rem;
}

.nav-center-menu ul li a {
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
	color: var(--white);
	padding: 1rem 1.5rem;
	position: relative;
	z-index: 1;
}
.nav-center-menu ul li a:hover {
	color: var(--pry-text-color);
	transition: color 0.4s;
}

.nav-center-menu ul li a::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--white);
	z-index: -1;
	transform: scale(0);
	transition: transform 0.4s;
}
.nav-center-menu ul li a:hover::before {
	transform: scale(1);
}

.nav-center-menu ul li:not(:last-of-type) {
	margin-right: 1rem;
}

.main-button {
	width: 15rem;
	height: 5rem;
	border: 0.1rem solid var(--sec-text-color);
	background: linear-gradient(to left, #903aff, #d434fe, #fe34b9);
	color: var(--white);
	font-size: 1.6rem;
	text-transform: capitalize;
	font-family: var(--pry-font);
	font-weight: 400;
	letter-spacing: 0.1rem;
	cursor: pointer;
}
.main-button:hover {
	border: 0.1rem solid var(--white);
	background: none;
	transition: all 0.4s;
}

.nav-center-menu_mobile {
	display: none;
}

/* SHOWCASE SECTION */
.container {
	width: 100%;
	margin: 0 auto;
}

#showcase {
	width: 100%;
	margin: 8rem auto 0rem auto;
	padding-top: 2rem;
	background: url('./images/backgrounds/showcase-bg.png') no-repeat;
	background-size: cover;
	background-position-y: 50%;
	border-bottom: var(--section-border-line);
}

.section-center {
	width: 1440px;
	min-height: 40vh;
	margin: 0 auto;
	padding: 1rem 1rem 0 1rem;
	color: var(--white);
}

.showcase-hero-phrase {
	font-size: 3.2rem;
	font-style: italic;
	text-align: right;
	position: relative;
}

.showcase-hero-phrase::before {
	position: absolute;
	content: '';
	bottom: -3.4rem;
	right: 0;
	width: 23rem;
	height: 4rem;
	border: solid 5px var(--sec-text-color);
	border-color: var(--sec-text-color) transparent transparent transparent;
	border-radius: 50%;
}

.showcase-hero {
	width: 100%;
	margin-top: 2rem;
	display: flex;
	align-items: flex-start;
}

.showcase-image {
	flex-basis: 50%;
	flex-shrink: 0;
	height: 60rem;
}

.showcase-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: sepia(300%) hue-rotate(180deg) saturate(750%);
}

.showcase-hero_text {
	flex-basis: 50%;
	flex-shrink: 0;
	align-self: center;
}

.showcase-hero_text-header {
	font-family: var(--sec-font);
	line-height: 1.1;
	position: relative;
}

.showcase-hero_text-header h1 {
	font-weight: 800;
	font-size: 7rem;
	position: relative;
}

.showcase-hero_text-header h1:first-of-type::before {
	position: absolute;
	content: '';
	top: -3rem;
	right: 18rem;
	width: 4rem;
	height: 5rem;
	background: url('./images/Showcase-section/Title/creative.png') no-repeat;
	background-size: contain;
}

.showcase-hero_text-header h1:last-of-type {
	width: fit-content;
}

.showcase-hero_text-header h1:last-of-type::before,
.showcase-hero_text-header h1:last-of-type::after {
	position: absolute;
	content: '';
	bottom: -0.5rem;
	width: 5rem;
	height: 5rem;
}

.showcase-hero_text-header h1:last-of-type::before {
	right: -5rem;
	background: url('./images/Showcase-section/Title/chain.png') no-repeat;
	background-size: cover;
}
.showcase-hero_text-header h1:last-of-type::after {
	right: -10rem;
	background: url('./images/Showcase-section/Title/explode.png') no-repeat;
	background-size: cover;
}

.showcase-hero_text-header h1 i {
	font-style: normal;
	color: var(--pry-text-color);
}

.showcase-hero_text-para {
	font-size: 1.6rem;
	font-weight: 300;
	width: 67%;
	margin: 1rem 0 2rem 0;
}

.showcase-hero_countdown {
	margin-top: 4rem;
	display: flex;
	align-items: center;
}

.showcase-hero_countdown p:not(:last-of-type) {
	margin-right: 1.5rem;
}

.showcase-hero_countdown p {
	font-family: var(--tertiary-font);
	font-size: 5.8rem;
}
.showcase-hero_countdown p i {
	text-transform: uppercase;
	font-style: normal;
	font-family: var(--pry-font);
	font-size: 1.2rem;
}

/* INTRO & GUIDELINES SECTION */
#intro, #guidelines {
	width: 100%;
	background: url('./images/backgrounds/no-star-bg.png') no-repeat bottom/cover;
	padding: 5rem 0;
	border-bottom: var(--section-border-line);
}

.intro-content, .guidelines-content {
	display: flex;
	align-items: center;
}

.intro-texts, .guidelines-texts {
	flex-basis: 50%;
	flex-shrink: 0;
	margin-left: 1.5rem;
	position: relative;
}

.intro-content .intro-texts::after {
	position: absolute;
	content: '';
	top: 6rem;
	right: 0;
	width: 3rem;
	height: 3rem;
	background: url('./images/intro-section/star\ pu.png') no-repeat;
	background-size: contain;
}

.section-header-text {
	margin-bottom: 1.5rem;
	font-family: var(--sec-font);
	font-size: 3rem;
	line-height: 1.3;
}

.section-header-text-two {
	color: var(--pry-text-color);
}

.section-para {
	font-size: 1.4rem;
	letter-spacing: .1rem;
	width: 80%;
}

.intro-img, .guidelines-img  {
	flex-basis: 50%;
	flex-shrink: 0;
	width: 50rem;
	margin-right: 1.5rem;
}

.intro-img img, .guidelines-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.guidelines-content {
	flex-direction: row-reverse;
}

.guidelines-content .guidelines-texts::before {
	position: absolute;
	content: "";
	top: -3rem;
	right: 40%;
	width: 3rem;
	height: 3rem;
	/* border: .1rem solid #fff; */
	background: url('./images/guidelines-section/star.png') no-repeat;
	background-size: contain;
}

.guidelines-img {
	position: relative;
}

.guidelines-img::after {
	position: absolute;
	content: '';
	bottom: 20rem;
	left:-2rem;
	width: 3rem;
	height: 3rem;
	background: url('./images/guidelines-section/star-fade.png') no-repeat;
	background-size: contain;
}