@media screen and (max-width: 830px) {
	.nav-center-menu {
		display: none;
	}

	.nav-center-menu_mobile {
		display: inline-block;
	}

	.nav-center-menu-bar {
		position: relative;
		width: 5rem;
		height: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		cursor: pointer;
		z-index: 10;
		transition: 0.4s;
	}

	.change.nav-center-menu-bar {
		transform: rotate(-45deg);
	}

	.nav-center-menu-bar .line {
		background: var(--white);
		width: 100%;
		height: 0.5rem;
		border-radius: 0.5rem;
		box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 1);
		z-index: 10;
	}

	.nav-center-menu-bar .line-1,
	.nav-center-menu-bar .line-3 {
		width: 50%;
	}

	.nav-center-menu-bar .line-1 {
		transform-origin: right;
		transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	.nav-center-menu-bar .line-3 {
		align-self: flex-end;
		transform-origin: left;
		transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	.change.nav-center-menu-bar .line-1 {
		transform: rotate(-450deg) translateX(1.3rem);
	}
	.change.nav-center-menu-bar .line-3 {
		transform: rotate(-450deg) translateX(-1.3rem);
	}

	.mobile-navlinks {
		position: fixed;
    top: 0;
    left: 0;
		width: 100vw;
		min-height: 100vh;
		background: var(--pry-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
		opacity: 0.9;
		transform: scaleX(0);
		z-index: 5;
		transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	.change.mobile-navlinks {
		transform: scaleX(1);
	}

	.mobile-navlinks ul {
		display: flex;
    flex-direction: column;
		align-items: center;
		margin-bottom: 2rem;
	}

  .mobile-navlinks ul li {
    margin-bottom: 3rem;
  }

	.mobile-navlinks ul li a {
		font-size: 1.6rem;
		letter-spacing: 0.1rem;
		color: var(--white);
		padding: 1rem 1.5rem;
		position: relative;
		z-index: 1;
	}
	.mobile-navlinks ul li a:hover {
		color: var(--pry-text-color);
		transition: color 0.4s;
	}

	.mobile-navlinks ul li a::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--white);
		z-index: -1;
		transform: scale(0);
		transition: transform 0.4s;
	}
	.mobile-navlinks ul li a:hover::before {
		transform: scale(1);
	}
}

@media screen and (max-width: 550px) {
  #logo {
    width: 12rem;
  }

  .nav-center {
    padding: 2rem 1rem;
  }

  .nav-center-menu-bar {
		width: 4rem;
		height: 2rem;	
	}

  .nav-center-menu-bar .line {
		height: 0.3rem;
	}
}
