/* 1440px SCREENS STYLES */
@media screen and (max-width: 1440px) {
	/* NAV */
	.nav-center {
		width: 1200px;
	}
	.main-button {
		width: 12rem;
		height: 4rem;
	}

	/* SHOWCASE SECTION */
	.section-center {
		width: 1200px;
	}

	.showcase-hero-phrase {
		font-size: 2.8rem;
	}

	.showcase-hero-phrase::before {
		width: 20rem;
	}

	.showcase-hero_text-header h1 {
		font-size: 6rem;
	}

	.showcase-hero_text-header h1:first-of-type::before {
		right: 13rem;
	}

	.showcase-hero_text-para {
		font-size: 1.4rem;
	}

	.showcase-hero_countdown p {
		font-size: 5rem;
	}

	.showcase-image {
		height: 50rem;
	}

	/* FAQ SECTION */
	.faq-texts .section-para {
		width: 65%;
	}
}

/* 1200px SCREENS STYLES*/
@media screen and (max-width: 1200px) {
	/* NAV */
	.nav-center {
		width: 1050px;
	}

	/* sHOWCASE SECTION */
	.section-center {
		width: 1050px;
	}

	.showcase-hero_text-header h1:first-of-type::before {
		right: 6rem;
	}

	.showcase-image {
		height: 45rem;
	}

	/* INTRO & GUIDELINES SECTION */
	.intro-img, .guidelines-img {
		width: 45rem;
	}

	.section-header-text {
		font-size: 2.5rem;
	}

	/* FAQ SECTION */
	.faq-texts .section-para {
		width: 75%;
	}

	/* TIMELINE SECTION */
	.timeline-details-info h2 {
		font-size: 1.6rem;
	}
	.timeline-details-date h2 {
		font-size: 1.6rem;
	}
	.timeline-details-info p {
		width: 95%;
		font-size: 1.2rem;
	}
}

/* 1050px SCREENS STYLES*/
@media screen and (max-width: 1050px) {
	/* NAV */
	.nav-center {
		width: 950px;
	}

	.section-center {
		width: 950px;
	}
	
	/* SHOWCASE */
	.showcase-hero_text-header h1 {
		font-size: 4.5rem;
	}

	.showcase-hero_text-header h1:first-of-type::before {
		right: 13rem;
	}

	.showcase-image {
		height: 40rem;
	}

	/* FAQ SECTION */
	.faq-texts .section-para {
		width: 85%;
	}
}

/* 950px SCREENS STYLES*/
@media screen and (max-width: 950px) {
	/* NAV */
	.nav-center {
		width: 100vw;
	}

	/* SHOWCASE SECTION */
	.section-center {
		width: 100vw;
	}

	#showcase {
		background-position-y: 10%;
		background-position-x: 15%;
	}

	#showcase .section-center {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.showcase-hero-phrase {
		font-size: 2.4rem;
	}

	.showcase-hero-phrase::before {
		width: 15rem;
	}

	.showcase-hero {
		flex-direction: column;
		align-items: center;
		margin-top: 8rem;
	}

	.showcase-image {
		height: max-content;
		flex-basis: 0;
		flex-shrink: 1;
	}

	.showcase-image img {
		width: 50rem;
	}

	.showcase-hero_text {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-basis: 100%;
		width: 100%;
	}

	.showcase-hero_text-header {
		line-height: 1.3;
	}

	.showcase-hero_text-header h1 {
		font-size: 4rem;
	}

	.showcase-hero_text-header h1:first-of-type {
		font-size: 3.4rem;
		letter-spacing: 0.1rem;
		text-align: center;
	}
	.showcase-hero_text-header h1:first-of-type::before {
		right: 2rem;
		top: -4rem;
	}

	.showcase-hero_text-header h1:last-of-type::before,
	.showcase-hero_text-header h1:last-of-type::after {
		width: 4rem;
		height: 4rem;
		bottom: 0;
	}

	.showcase-hero_text-header h1:last-of-type::before {
		right: -4rem;
	}
	.showcase-hero_text-header h1:last-of-type::after {
		right: -8rem;
	}

	.showcase-hero_text-para {
		font-size: 1.3rem;
		width: 30vw;
		text-align: center;
		margin: 1.5rem 0 2.5rem 0;
	}

	.showcase-hero_countdown p {
		font-size: 3.5rem;
	}

	/* INTRO, GUIDELINES & CRITERIA SECTION */
	.intro-content, .guidelines-content, .criteria-content, .faq-content {
		flex-direction: column;
	}

	.intro-img, .guidelines-img, .criteria-img, .faq-img {
		flex-basis: 100%;
		margin-right: 0;
		margin-bottom: 5rem;
	}
	.intro-texts, .guidelines-texts, .criteria-texts, .faq-texts {
		flex-basis: 100%;
		margin-left: 0;
		text-align: center;
	}

	.guidelines-content .guidelines-texts::before {
		top: 8rem;
		right: 5%;
	}

	.section-para {
		width: 50%;
		margin: 0 auto;
	}

	/* FAQ SECTION */
	.faq-texts .section-para {
		width: 70%;
		text-align: center;
		margin: 2rem auto 3.5rem auto;
	}

	.faq-lists-item {
		width: 85vw;
		margin: 0 auto;
	}

	.faq-lists-item-question h3 {
		text-align: left;
	}

	.faq-lists-item-answer p {
		text-align: left;
		font-size: 1.2rem;
	}

	/* TIMELINE SECTION */
	.timeline-header-para {
		width: 80%;
	}
	.timeline-details {
		width: 80vw;
		margin-top: 1.5rem;
	}

	.timeline-details article:not(:last-of-type) {
		margin-bottom: 2.5rem;
	}

	.timeline-details article, .timeline-details article.reverse {
		flex-direction: column;
		align-items: flex-start;
	}

	.timeline-details-info {
		text-align: left;
		flex-basis: 100%;
	}

	.timeline-details-info h2 {
		font-size: 1.8rem;
	}

	.timeline-details-info.reverse {
		text-align: left;
	}

	.timeline-details-info p {
		width: 100%;
		margin: 0;
		font-size: 1.4rem;
	}

	.timeline-details-info.reverse p {
		margin: 0;
	}

	.timeline-details-date {
		flex-basis: 100%;
	}

	.timeline-details-date h2 {
		font-size: 1.8rem;
	}

	.timeline-order {
		position: absolute;
		bottom: .5rem;
		left: -3rem;
		width: 2rem;
		height: 2rem;
		font-size: 1.4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border: .1rem solid blue;
	}

	.timeline-order::before {
		bottom: 3rem;
		height: 5.5rem;
	}

	.timeline-details article:nth-of-type(3) .timeline-order::before{
		height: 4rem;
	}
}

/* 830px SCREEN STYLES */
@media screen and (max-width: 830px) {
	/* NAV */
	.nav-center-menu {
		display: none;
	}

	.nav-center-menu_mobile {
		display: inline-block;
	}

	.nav-center-menu-bar {
		position: relative;
		width: 5rem;
		height: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		cursor: pointer;
		z-index: 10;
		transition: 0.4s;
	}

	.change.nav-center-menu-bar {
		transform: rotate(-45deg);
	}

	.nav-center-menu-bar .line {
		background: var(--white);
		width: 100%;
		height: 0.5rem;
		border-radius: 0.5rem;
		box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 1);
		z-index: 10;
	}

	.nav-center-menu-bar .line-1,
	.nav-center-menu-bar .line-3 {
		width: 50%;
	}

	.nav-center-menu-bar .line-1 {
		transform-origin: right;
		transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	.nav-center-menu-bar .line-3 {
		align-self: flex-end;
		transform-origin: left;
		transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	.change.nav-center-menu-bar .line-1 {
		transform: rotate(-450deg) translateX(1.3rem);
	}
	.change.nav-center-menu-bar .line-3 {
		transform: rotate(-450deg) translateX(-1.3rem);
	}

	.mobile-navlinks {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		min-height: 100vh;
		background: var(--pry-bg-color);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: .9;
		transform: scaleX(0);
		z-index: 5;
		transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	.change.mobile-navlinks {
		transform: scaleX(1);
	}

	.mobile-navlinks ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 2rem;
	}

	.mobile-navlinks ul li {
		margin-bottom: 3rem;
	}

	.mobile-navlinks ul li a {
		font-size: 1.6rem;
		letter-spacing: 0.1rem;
		color: var(--white);
		padding: 1rem 1.5rem;
		position: relative;
		z-index: 1;
	}
	.mobile-navlinks ul li a:hover {
		color: var(--pry-text-color);
		transition: color 0.4s;
	}

	.mobile-navlinks ul li a::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--white);
		z-index: -1;
		transform: scale(0);
		transition: transform 0.4s;
	}
	.mobile-navlinks ul li a:hover::before {
		transform: scale(1);
	}
}

/* 550px SCREENS STYLES */
@media screen and (max-width: 550px) {
	/* NAV */
	#logo {
		width: 12rem;
	}

	.nav-center {
		padding: 2rem 1rem;
	}

	.nav-center-menu-bar {
		width: 4rem;
		height: 2rem;
	}

	.nav-center-menu-bar .line {
		height: 0.3rem;
	}

	/* SHOWCASE-SECTION */

	.showcase-hero {
		margin-top: 6rem;
	}

	.showcase-hero-phrase {
		font-size: 1.6rem;
	}
	.showcase-hero-phrase::before {
		width: 12rem;
		bottom: -4rem;
	}

	.showcase-image img{
		width: 33rem;
	}

	.showcase-hero_text-header h1:first-of-type {
		font-size: 2.5rem;
	}

	.showcase-hero_text-header h1:last-of-type {
		font-size: 3rem;
	}
	.showcase-hero_text-header h1:first-of-type::before {
		width: 2.5rem;
		right: 2rem;
		top: -2.5rem;
	}

	.showcase-hero_text-header h1:last-of-type::before,
	.showcase-hero_text-header h1:last-of-type::after {
		width: 2.5rem;
		height: 2.5rem;
		top: 0.9rem;
	}
	.showcase-hero_text-header h1:last-of-type::before {
		right: -2.5rem;
	}
	.showcase-hero_text-header h1:last-of-type::after {
		right: -5rem;
	}

	.showcase-hero_text-para {
		width: 75vw;
	}

	/* INTRO & GUIDELINES SECTION */
	.intro-img, .guidelines-img, .criteria-img, .faq-img {
		width: 30rem;
	}

	.section-header-text {
		font-size: 1.6rem;
	}

	.section-para {
		width: 80%;
		font-size: 1.3rem;
	}

	.guidelines-content .guidelines-texts::before {
		top: 3rem;
		right: 3%;
	}

	/* CRITERIA SECTION */
	.timeline-details-info h2, 
	.timeline-details-date h2 {
		font-size: 1.5rem;
	}

	.timeline-details-info p {
		font-size: 1.2rem;
	}
}
